In [1]:
import requests
from bs4 import BeautifulSoup

url="https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx6TVdZU0FtVnVHZ0pKVGlnQVAB?hl=en-IN&gl=IN&ceid=IN%3Aen"
headers = {
    'User-agent': 'Mozilla/5.0'}

page = requests.get(url,headers=headers)
soup = BeautifulSoup(page.content, 'html.parser')
block= soup.findAll("div",{"class":"xrnccd F6Welf R7GTQ keNKEd j7vNaf"})

# Scrapping the main news

In [12]:
import nltk
nltk.download('punkt')  #sentence tokenizer
from newspaper import Article #library for extracting & curating articles
import string 
import requests
from bs4 import BeautifulSoup
import numpy as np


url="https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx6TVdZU0FtVnVHZ0pKVGlnQVAB?hl=en-IN&gl=IN&ceid=IN%3Aen"
headers = {
    'User-agent': 'Mozilla/5.0'}

page = requests.get(url,headers=headers)
soup = BeautifulSoup(page.content, 'html.parser')
block= soup.findAll("div",{"class":"xrnccd F6Welf R7GTQ keNKEd j7vNaf"})

l=[]

for i in range(len(block)):
    
    link = "https://news.google.com" + block[i].find("h3",{"class":"ipQwMb ekueJc gEATFF RD0gLb"}).find('a')['href'][1:]
      
    article = Article(link, language="en")
    article.download() 
    article.parse() 
    article.nlp() 
    
    #variable for storing title of article
    title = article.title
    
    #variable for storing preprossed summary ie removing incosistent spaces,punctuations
    summary = " ".join(article.summary.split('\n')).replace("  ","").strip().translate(str.maketrans("","", string.punctuation))
    
    #variable for storing publish date of article
    try:
        date = article.publish_date.date().strftime("%d-%m-%Y")
    except:
        date = np.NaN
    
    #variable for storing publish time of article
    try:
        time = article.publish_date.time().strftime("%H:%M:%S")
    except:
        time = np.NaN
    
    l.append([title,summary,date,time,link])

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
import pandas as pd

df = pd.DataFrame(l,columns=['Title','Summary','Date','Time','Link'])
df.head()

,Title,Summary,Date,Time,Link
0,"Trading Halted For 45 Minutes As Sensex, Nifty...",Mondays trading halt was a second within a per...,NaN,NaN,https://news.google.com/articles/CAIiECFpTCDi_...
1,Rupee falls beyond 76 per USD for first time,The rupee today fell sharply against the US do...,23-03-2020,09:29:58,https://news.google.com/articles/CBMigwFodHRwc...
2,Global Stocks Crumble as More Nations Shut Bus...,There was little to cheer in coronavirus news ...,23-03-2020,08:25:24,https://news.google.com/articles/CBMieWh0dHBzO...
3,telecom sector: AGR: Supreme Court verdict to ...,NEW DELHI The Supreme Courts October last verd...,NaN,NaN,https://news.google.com/articles/CBMikQFodHRwc...
4,"Maruti Suzuki, Hero, Tata, Bajaj Announces Pla...",“The company will shut production and office o...,22-03-2020,14:30:11,https://news.google.com/articles/CBMiXWh0dHBzO...

In [15]:
df.to_csv('head_news.csv')

# Scrapping the sub news

In [35]:
import nltk
import numpy as np
nltk.download('punkt')
from newspaper import Article 
import string
import requests
from bs4 import BeautifulSoup
import numpy as np

sub =[]

url="https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx6TVdZU0FtVnVHZ0pKVGlnQVAB?hl=en-IN&gl=IN&ceid=IN%3Aen"
headers = {
    'User-agent': 'Mozilla/5.0'}

page = requests.get(url,headers=headers)
soup = BeautifulSoup(page.content, 'html.parser')


sub_news_links = soup.findAll('h4',{"class":"ipQwMb ekueJc gEATFF RD0gLb"})
                                                

for i in sub_news_links:
    link = "https://news.google.com" + i.find('a')['href'][1:]
    
    article = Article(link, language="en")
    try:
        article.download() 
        article.parse() 
        article.nlp()
    except:
        continue
     
    #variable for storing title of article
    title = article.title
    
    ##variable for storing summary of article
    summary = " ".join(article.summary.split('\n')).replace("  ","").strip().translate(str.maketrans("","", string.punctuation))
    
    #variable for storing publish date of article
    try:
        date = article.publish_date.date().strftime("%d-%m-%Y")
    except:
        date = np.NaN
        
    #variable for storing publish time of article
    try:
        time = article.publish_date.time().strftime("%H:%M:%S")
    except:
        time = np.NaN

    sub.append([title,summary,date,time,link])

In [36]:
import pandas as pd

df1 = pd.DataFrame(sub,columns=['Title','Summary','Date','Time','Link'])
df1.head()

,Title,Summary,Date,Time,Link
0,"Future Lifestyle, IndusInd, India Cements amon...",The stock fell 3854 per cent for the week to R...,22-03-2020,11:20:00,https://news.google.com/articles/CAIiENZyXy6b8...
1,10 things you need to know before the opening ...,Asia Markets in Asia Pacific saw significant d...,NaN,NaN,https://news.google.com/articles/CBMicWh0dHBzO...
2,"Trading Halted For 45 Minutes As Sensex, Nifty...",Mondays trading halt was a second within a per...,NaN,NaN,https://news.google.com/articles/CAIiECFpTCDi_...
3,"COVID-19 Fallout: Sensex Nosedives Over 2,500 ...",After sinking over 2718 points the BSE baromet...,NaN,NaN,https://news.google.com/articles/CCAiC3d0MDF2S...
4,"Sebi, exchanges clarify markets to function no...",MUMBAI The Securities and Exchange Board of I...,22-03-2020,20:38:24,https://news.google.com/articles/CAIiEBE6wCVby...

In [37]:
df1.shape

(188, 5)

In [38]:
df1.to_csv('sub_news.csv')

# function to search exact words like surge, acquisitions, and IPO and printing the sentences if search is matched

In [3]:
import nltk
from newspaper import Article 
  
    
def search_multiple_words(lines,search_words):
    state=False
    kl=[]
    for line in lines:
        if any(word in line for word in search_words):
            kl.append(line)
            state=True
            
    if state==True:
        print("Title : ",article.title)
        print("Lines : ")
        for i in kl:
            print(i)
        print()
                
    
search_words = ['surge','acquisitions','IPO']

for i in range(len(block)):
    
    url = "https://news.google.com" + block[i].find("h3",{"class":"ipQwMb ekueJc gEATFF RD0gLb"}).find('a')['href'][1:]
    
    article = Article(url, language="en")
    try:
        article.download() 
        article.parse() 
        article.nlp()
    except:
        continue
    
    lines= "".join(article.text.strip().split('\n')).split('.')
    search_multiple_words(lines,search_words)

Title :  Stocks rally in Asia; US equity futures drop
Lines :
Elsewhere, gold was steady after a recent surge

Title :  Dow Has Biggest Rally Since 1933, Surging 11.4% On Stimulus Hopes
Lines :
The Dow Jones Industrial Average surged 11

Title :  Grofers, other online grocery stores in Hyderabad struggle to deliver
Lines :
Also Read Nationwide lockdown: Supermarkets in Hyderabad see sales surgeOur @grofers warehouse in Faridabad was closed by local law enforcement today
Online grocery stores in Hyderabad witness sales surgeMeanwhile, Grofers temporarily stopped taking any new order

Title :  Indian rupee to average at 77 per US dollar in 2020, 80 in 2021: Fitch Solutions
Lines :
 Adverse weather during the growing season can easily lead to a surge in headline inflation due to poor crop yields even despite weak core inflation

Title :  HUL zooms 10% after announcing acquisition of Vwash from Glenmark
Lines :
Shares of (HUL) surged 10 per cent to Rs 2,059